@model mhsApp1.Models.NilaiMhss

<h2 class="mb-3">Detail Nilai Mahasiswa</h2>

<div>
    <h4>Nama:</h4>
    <p>@Model.NameMhs</p>
    <h4>Mata Kuliah:</h4>
    <p>@Model.Matkul</p>
    <h4>Nilai:</h4>
    <p>@Model.Nilai</p>
    <h4>Catatan:</h4>
    <p>@Model.Catatan</p>
</div>